Q1) What are data structures, and why are they important?

ans-Data structures are fundamental ways of organizing and storing data for efficient access and manipulation within computer programs

Q2) Explain the difference between mutable and immutable data types with examples?

ans- Mutuable data types- The data which can be modified after creation
examples-Lists,Dictinaries

Immutubale data types- The data which cannot be modified after creation
examples-Strings,Tuples

Q3) What are the main differences between lists and tuples in Python?

ans-The main difference between the lists and tuples is that lists are mutubale data type which can be modidfied but on other hand tuples are immutuable data types which cannot be modified.

Q4) Describe how dictionaries store data?

ans- In dictionaries data are stored in the form of key-value pair.

Q5) Why might you use a set instead of a list in Python?

ans- Sets only store unique elements. If you try to add a duplicate, it will be ignored. Lists, on the other hand, allow duplicate elements.

Q6) What is a string in Python, and how is it different from a list?

ans- A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.

Q7) How do tuples ensure data integrity in Python?

ans-Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed

Q8) What is a hash table, and how does it relate to dictionaries in Python?

ans- A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index for each key, which is then used to store the value. This allows for fast access to the value given its key.

Q9) Can lists contain different data types in Python?

ans-Yes, lists in Python can contain elements of different data types. This means a single list can hold a combination of integers, floats, strings, booleans, and even other complex data structures like lists, tuples, or dictionaries.

Q10) Explain why strings are immutable in Python?

ans-In Python, strings are immutable, meaning their values cannot be altered after creation

Q11) What advantages do dictionaries offer over lists for certain tasks?

ans-Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

Q12)Describe a scenario where using a tuple would be preferable over a list

ans-If you want the data in your collection to be read-only, never to change, and always remain the same and constant.

Q13) How do sets handle duplicate values in Python?

ans-In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it is automatically ignored.

Q14) How does the “in” keyword work differently for lists and dictionaries?

ans-The in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list

Q15) Can you modify the elements of a tuple? Explain why or why not?

ans- No,we can't modify the elements of tuple.Tuple come under immutable types so it can't be modidfied.

Q16) What is a nested dictionary, and give an example of its use case?

ans-A nested dictionary in Python is a dictionary where the values are themselves dictionaries.

Ex-
employees = {
    "department1": {
        "employee1": {"name": "Alice", "position": "Software Engineer"},
        "employee2": {"name": "Bob", "position": "Data Analyst"}
    },
    "department2": {
        "employee3": {"name": "Charlie", "position": "Project Manager"},
        "employee4": {"name": "David", "position": "UI/UX Designer"}
    }
}

Q17) Describe the time complexity of accessing elements in a dictionary?

ans-Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key.

Q18)In what situations are lists preferred over dictionaries?

ans-For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?

ans-Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.

Q20) Explain the difference between a list and a dictionary in terms of data retrieval.

ans-lists are accessed by index, while dictionaries are accessed by key. This means that to retrieve a specific element from a list, you use its numerical position (starting from 0), whereas for a dictionary, you use the associated key to find the corresponding value.

In [ ]:
#1 Write a code to create a string with your name and print it
name=input('Enter a string: ')
print(name)

Enter a string: Chirag
Chirag

In [ ]:
#2 Write a code to find the length of the string "Hello World"
string='Hello World'
print(len(string))

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
string='Python Programming'
print(string[0:3])

Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase
string='hello'
print(string.upper())

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
string='I like apple'
print(string.replace('apple','orange'))

I like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.pop(2)
print(list)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple=('red','green','blue','yellow')
print(my_tuple[-2])

blue

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple=(10,20,5,15)
print(min(my_tuple))

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple=('apple','mango','banana')
if 'kiwi' in my_tuple:
    print('kiwi is present')
else:
    print('kiwi is not present')

kiwi is not present

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict={'name':'John','age':25,'city':'New York'}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict={'name':'John','age':25}
my_dict['country']='USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict={'name':'Alice','age':30}
print(my_dict.get('name'))

Alice

In [ ]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict={'name':'Bob','age':22,'city':'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict={'name':'Alice','city':'Paris'}
if 'city' in my_dict:
    print('city is present')
else:
    print('city is not present')

city is present

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=[1,2,3,4]
my_tuple=(1,2,3,4)
my_dict={'name':'John','age':25}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'John', 'age': 25}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print("Sorted list:", random_list)

Sorted list: [1, 23, 44, 59, 76]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index.
my_list=['apple','banana','mango','orange']
print(my_list[2])

mango

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Copy dict1 to avoid modifying the original
combined_dict = dict1.copy()
combined_dict.update(dict2)

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30 Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Set of strings:", string_set)

Set of strings: {'banana', 'apple', 'cherry'}